package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Getter;
import lombok.Setter;
import java.io.Serializable;
import java.util.Date;

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Getter
@Setter
@TableName("${tableName}")
public class ${className} extends BaseEntity{
#set($cxclude = ["id", "createBy", "createTime", "updateBy", "updateTime"])

    private static final long serialVersionUID = -1L;

#foreach ($column in $columns)
#if(!$cxclude.contains($column.javaField))
    /** $column.columnComment */
#if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#end
    private $column.javaType $column.javaField;
#end
#end

    public ${className} (){}

}
